:host {
    display: block;
    clear: both;
    overflow-y: hidden;
}

.button-no {
    background-color: rgb(198, 67, 117) !important;
    color: white !important;
}

.question-feedback {
    padding-left: 60px;
}