:host {
    display: block;
    clear: both;
    overflow-y: hidden;
}

.button-no {
    background-color: #e44b3a !important;
    color: white !important;
}

.question-feedback {
    padding-left: 60px;
}