<div class="vertical-align">
  <div class="horizontal-align">
    <mat-card>
      <mat-card-content class="card-header" [ngStyle]="{backgroundColor: topic.primaryColor}">
        <mat-card-subtitle>Auswertung</mat-card-subtitle>
        <mat-card-title>{{topic.fullName}}</mat-card-title>
        <div class="percentage" [@slideUp]="percentage">
          {{percentage}} %
        </div>
        <mat-progress-bar mode="determinate" value="{{percentage}}"></mat-progress-bar>
      </mat-card-content>
      <div class="answer-block" [@slideUp]="percentage">
        <div class="answer-score">
          <div class="paragraph-icon">
            <button mat-mini-fab class="button-info" disabled><mat-icon>perm_scan_wifi</mat-icon></button>
          </div>
          <div class="score-text" [innerHTML]="formattedAnswer"></div>
        </div>
      </div>
      <mat-card-actions>
        <button mat-button class="navigation navigation-left" [routerLink]="['/thema', topicId, 'frage', topic.questions.length-1]"><mat-icon>chevron_left</mat-icon>Zurück</button>
        <button mat-button class="navigation navigation-right" (click)="goToHome()">Thema abschließen</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>