<div class="vertical-align">
  <div class="horizontal-align">
    <mat-card>
      <mat-card-content class="card-header" [ngStyle]="{backgroundColor: topic.primaryColor}">
        <mat-card-subtitle>{{question.category}}</mat-card-subtitle>
        <mat-card-title>{{question.question}}</mat-card-title>
        <div class="answer-buttons" [@centerButtons]="centerButtons" *ngIf="centerButtons">
            <button mat-raised-button mat-ripple class="button-yes" [ngClass]="{'active': answer === true, 'inactive': answer === false}" (click)="clickYes()"><mat-icon>check</mat-icon>Ja</button>
            <button mat-raised-button mat-ripple class="button-no" [ngClass]="{'active': answer === false, 'inactive': answer === true}" (click)="clickNo()"><mat-icon>clear</mat-icon>Nein</button>
        </div>
      </mat-card-content>
      <div class="answer-block">
        <router-outlet></router-outlet>
      </div>
      <mat-card-actions>
        <button mat-button mat-ripple class="navigation navigation-left" (click)="clickPrevious()" [disabled]="questionId == 0"><mat-icon>chevron_left</mat-icon>Zurück</button>
        <button mat-button mat-ripple class="navigation navigation-right" (click)="clickNext()" *ngIf="topic.questions.length != questionId+1 || topicId != topics.length-1" [disabled]="answer == undefined">Weiter<mat-icon>chevron_right</mat-icon></button>
        <button mat-button mat-ripple class="navigation navigation-right" (click)="clickScore()" *ngIf="topic.questions.length == questionId+1 && topicId == topics.length-1">Auswertung<mat-icon>chevron_right</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>