<mat-card class="info-card mat-elevation-z10">
  <mat-card-title>Wie klimafreundlich ist unser Verband?</mat-card-title>
  <mat-card-content>
      <p>
        Antworten auf diese Frage liefert euch der <b>Klima-Check</b>.
        Es soll eurem Verband als Orientierung dienen. Findet heraus, in welchen Bereichen ihr euch schon klimafreundlich verhaltet und in welchen Bereichen es noch Potenzial zur Verbesserung gibt. Der Klima-Check wurde im Rahmen der
        <a href="http://klimachallenge.de" target="_blank">Klima-Challenge</a> entwickelt.
      </p>
      <div class="credits">
        Ein Projekt von
        <div>
          <a href="http://janun.de/" target="_blank"><img src="/assets/logos/janun.png" /></a>
          <a href="http://ljr.de/" target="_blank"><img src="/assets/logos/kean.png" /></a>
          <a href="http://www.klimaschutz-niedersachsen.de/" target="_blank"><img src="/assets/logos/ljr.gif" /></a>
          <a href="http://www.umwelt.niedersachsen.de/startseite/" target="_blank"><img src="/assets/logos/nds-ministerium-uek.png" /></a>
        </div>
      </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <div [@buttonScale] class="fab-position">
      <button mat-fab (click)="startQuiz()" mat-ripple><mat-icon>play_arrow</mat-icon></button>
    </div>
  </mat-card-actions>
</mat-card>
