<md-card class="info-card">
  <md-card-title>Wie klimafreundlich ist unser Verband?</md-card-title>
  <md-card-subtitle>Was können wir besser machen?</md-card-subtitle>
  <md-card-content>
      <p>Antworten auf diese Fragen liefert euch der <b>Klima-Check</b>. Es soll eurem Verband als Orientierung dienen. Findet heraus, in welchen Bereichen ihr euch schon klimafreundlich verhaltet und in welchen Bereichen es noch Potenzial zur Verbesserung gibt.</p>
  </md-card-content>
  <md-card-actions align="end">
    <div [@buttonScale] class="fab-position">
      <button md-fab (click)="startQuiz()" md-ripple><md-icon>play_arrow</md-icon></button>
    </div>
  </md-card-actions>
</md-card>