:host {
    display: block;
}

.info-card {
    max-width: 500px;
    margin: 20px auto 50px auto;
    
    mat-card-title {
        color: #0f54af;
    }

    .mat-card-content {
        font-size: 15px;
    }

    .credits {

        font-style: italic;

        img {
            height: 37px;
            float: left;
            margin-right: 11px;
            margin-top: 8px;
        }
        
        a:last-child img {
            margin-right: 0;
        }
    }

    mat-card-actions {
        clear: both;
    }

    .fab-position {
        margin-bottom: -35px;
        margin-right: 20px;

        button {
            background-color: #00bead;
            color: white;
        }
    }
}