:host {
    display: block;
}

.info-card {
    max-width: 500px;
    margin: 20px auto 50px auto;

    // Shadow 10
    box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, .2), 0px 10px 14px 1px rgba(0, 0, 0, .14), 0px 4px 18px 3px rgba(0, 0, 0, .12) !important;

    md-card-title {
        color: #0f54af;
    }

    .mat-card-content {
        font-size: 15px;
    }

    .credits {

        font-style: italic;

        img {
            height: 37px;
            float: left;
            margin-right: 11px;
            margin-top: 8px;
        }
        
        a:last-child img {
            margin-right: 0;
        }
    }

    md-card-actions {
        clear: both;
    }

    .fab-position {
        margin-bottom: -35px;
        margin-right: 20px;

        button {
            background-color: #00bead;
            color: white;
        }
    }
}