@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

html, body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    background-color: rgb(185, 246, 202);
}

md-icon {
    vertical-align: middle;
}

.paragraph-icon {
    float: left;
}

.md-menu-click-catcher {
    z-index: 99;
}

.md-overlay-container {
    z-index: 199;

    .menu-right {
        transform: translateX(-155px);

        md-icon {
            margin-right: 3px;
        }
    }
}

.janun-icon {
    width: 24px;
    margin-right: 5px;
}