@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

html, body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
}

md-icon {
    vertical-align: middle;
}

.paragraph-icon {
    float: left;
}

.topic-0 {
    background-color: rgb(255, 138, 128);
}