@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

html, body, md-sidenav-layout {
    margin: 0;
    height: 100%;
}

md-icon {
    vertical-align: middle;
}

.paragraph-icon {
    float: left;
}