:host {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 9;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    router-outlet {
        display: none;
    }

    @media (max-width: 620px) {
        display: block;
    }
}

.overflow {
    overflow-y: hidden;
}