:host {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 80px;
}

md-card {
    
    height: 100%;

    // Shadow 10
    box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, .2), 0px 10px 14px 1px rgba(0, 0, 0, .14), 0px 4px 18px 3px rgba(0, 0, 0, .12) !important;

    .card-header {
        color: white;
        background-color: #00bad2;
        margin: -24px;
        margin-bottom: 45px;
        padding: 24px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        border-bottom: 1px solid rgba(3, 3, 3, 0.12);

        md-card-subtitle {
            color: rgba(255, 255, 255, 0.75);
        }
    }

    md-card-title {
        overflow-y: hidden;
    }

    .answer-block {
        margin-top: -20px;
    }

    .category-section {

        border-top: 1px solid rgba(3, 3, 3, 0.12);
        margin-left: -24px;
        margin-right: -24px;
        margin-bottom: -14px;
        padding: 24px;
        clear: both;

        .answer-category {
            float: right;
            margin-bottom: 7px;
        }

        .score-text {
            margin-left: 50px;
            margin-top: -13px;
        }

        md-card-subtitle {
            margin-left: 50px;
        }
    }

    .percentage {
        font-size: 3em;
        text-align: center;
        overflow-y: hidden;
    }

    .total-score {
        font-size: 18px;
    }
}